*{
    font-family: 'Radio Canada', sans-serif;
    margin: 0;
    padding: 0;

}
body{
	min-height: 100%;
	width: 100%;
	min-width: 400px;
	background-color: #F3F4FB
}
html{
    height: 100%;
    min-width: 400px;
}

.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.grid h3{
    color: #414149;
}
.beskrivning{
    width: 25em;
    align-items: center;
    padding: 0 0 1em 1.5em;

}
.wrapper2 p{
    font-weight: 600;
}
.detail{
    margin-bottom: 0.5em;
}

header { 
    display: flex; 
    flex-direction: column; 
    max-width: 100%; 
    align-items: center; 
    justify-content: center; 
    margin-right: 0;
} 
.loggaochsearch { 
    width: 90vw; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
} 
ul { 
    width: 90vw; 
    list-style-type: none; 
    display: flex; 
    justify-content: space-evenly; 
    margin-bottom: 1em; 
    flex-wrap: wrap;
} 
.garanti { 
    background-color: #234C9F; 
    width: 90%; 
    height: 36px; 
    border-radius: 5px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
} 
.titel{
    padding: 0 0 0.5em 0;
}
.feelwell { 
    height: 4.5em; 
    margin: 1em; 
} 
.garanti > p { 
    text-align: center; 
} 
.search { 
    border: 1px solid #414149; 
    display: flex; 
    justify-content: flex-start; 
    align-items: center; 
    width: 10em; 
    height: 2em; 
    margin-top: 2.5em; 
    border-radius: 5px; 
    padding-left: 1em; 
    cursor: text;
} 

ul li{ 
    margin: 1em 0 1em 1em; 
    font-weight: bold; 
    text-align: center; 
     
} 
ul a{ 
    text-decoration: none; 
    color: #414149; 
} 
ul li:hover{ 
    text-decoration: underline; 
} 
li:last-child { 
    font-weight: 500; 
} 
.ri-account-circle-line { 
    font-weight: 400; 
    font-size: 1.5em; 
    text-align: center; 
} 
.garanti > p { 
    color: #F3F4FB; 
} 
.ri-hand-heart-line { 
    font-size: 1.5em; 
    padding-right: 0.5em; 
    color: #F3F4FB; 
} 

.konto{ 
    margin-bottom: 0.5em; 
}  
a > .konto { 
    color: #234C9F; 
} 
.abbe, .linn, .robin {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 1em;
}

.textomoss {
	text-align: start;
	margin-left: 1em;
}
.headshot {
    width: 10em;
    height: 10em;
	flex-shrink: 0;
	border-radius: 5px;
    object-fit: cover;
}
h2 {
    color: #234C9F;
	padding: 1em;
	
}

.wrapper {
	border-radius: 5px;
    min-width: 23em;
	margin: 2em 1em;
	max-width: 35em;
}
.wrapper2{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-shrink: 1;
	border-radius: 5px;
	margin: 2.5em 1em;
	border: 1px solid #414149;
	padding: 2em;
}
.wrapper2 p{
	padding: 1em;
	color: #414149;
}
.wrapper2 > h2{
	color: #234C9F
}

.karta{
	border-radius: 5px;
	margin-left: 0.5em;
	margin-right: 0.5em;
	max-width: 20em;
}
.wrapper2:last-child{
	padding-bottom: 2em;
}
.titel{
	color: #234C9F;

	font-weight: bold;
}
footer {
	background-color: #414149;
	color: #F3F4FB;
	padding: 1em 0em 1em 0em;
	bottom: 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-top: auto;
	min-height: 10em;
	min-width: 100%;

}

.villkor {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: nowrap;
}

.social {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	grid-column: 2 / 4;
	flex-wrap: nowrap;
}

.help {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	flex-shrink: 1;
}

.ikoner {
	justify-content: space-between;
	align-items: center;
	font-size: 28px;

}

.ikoner>i {
	padding: 0.5em;
    cursor: pointer;
}

.villkor>p {
	font-size: 10px;
	margin: 0.5em;
}

.help>p {
	font-size: 10px;
	margin: 0.5em;
}

.villkor>h3 {
	font-size: 1em;
}

.help>h3 {
	font-size: 1em;
}

.social>p {
	font-size: 12px;
}

h3 {
	margin-bottom: 0.5em;
}

@media (min-width:850px) {
    .wrapper {
      border-radius: 5px;
    }  
	.wrapper2 {
		max-width: 23em;
		margin-bottom: 0;
	}
      footer{ 
        display: flex; 
        justify-content: space-evenly; 
        align-items: center; 
    } 
 .social > p { 
        padding-bottom: 3em; 
    } 
 .villkor > p{ 
        font-size: 0.8em; 
    } 
    .help > p{ 
        font-size: 0.8em; 
    } 
    .social{ 
        font-size: 0.8em; 
    }
	.grid{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
    .search{ 
        width: 11.85em; 
        height: 2.4em; 
		cursor: text;
    } 
    .feelwell{ 
        height: 6em; 
        margin: 1em; 
    }
    .kat ul{
		font-size: 1.15em;
	}
    }