*{
	font-family: 'Radio Canada', sans-serif;
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
	min-width: 400px;
	
}
body{
	min-height: 100%;
	width: 100%;
	min-width: 400px;
	background-color: #F3F4FB;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
header {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	align-items: center;
	justify-content: center;
	
}
.loggaochsearch {
	width: 90vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}
ul {
	width: 90vw;
	list-style-type: none;
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 1em;
	flex-wrap: wrap;
	
}
.garanti {
	background-color: #234C9F;
	width: 90%;
	height: 36px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.feelwell {
	height: 4.5em;
	margin: 1em;
	
}
.garanti > p {
	text-align: center;
	
}
.search {
	border: 1px solid grey;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 10em;
	height: 2em;
	margin-top: 2.5em;
	border-radius: 5px;
	padding-left: 1em;
	
}
ul li{
	margin: 1em 0 1em 1em;
	font-weight: bold;
	text-align: center;
	position: ;
}

ul a{
	text-decoration: none;
	color: #414149;
}
ul li:hover{
	text-decoration: underline;
}
li:last-child {
	font-weight: 500;
}
.ri-account-circle-line {
	font-weight: 400;
	font-size: 1.5em;
	text-align: center;
}
.garanti > p {
	color: #F3F4FB;
}
.ri-hand-heart-line {
	font-size: 1.5em;
	padding-right: 0.5em;
	color: #F3F4FB;
}
.konto{
	margin-bottom: 0.5em;
}
a > .konto {
	color: #234C9F;
}

footer{
	background-color: #414149;
	color: #F3F4FB;
	padding: 0.5em 0.5em 0.5em 0.5em;
	bottom: 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	margin-top: auto;
	min-height: 10em;
	max-width: 100%;
	
	
}
/* .social > * {
    margin: 1.75em;
	font-size: 28px;
}  */
footer > p {
	color: #F3F4FB;
}
.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	
	
}
button {
	font-size: 1em;
	font-weight: 700;
	padding: 0.8em 1.9em 0.8em 1.9em;
	background-color: transparent;
    background-repeat: no-repeat;
    border:1px solid #414149;
    cursor: pointer;
	border-radius: 5px;
	color: #234C9F;
	transform-style: preserve-3d;
	
}

  button:hover {
	background-color: #234C9F;
	color: #F3F4FB;
  }
h1 {
	color: #234C9F;
	margin: 1em 0 1em 0;
	text-align: center;
	
}
.box img {
	max-height: 15em;
	box-shadow: 1px 1px 1px 1px lightgrey;
	border-radius: 5px;
	min-width: 10em;
	
}
.box {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	border: 1px solid #414149;
	border-radius: 5px;
	padding: 2em 3em 2.5em 3em;
	margin: 0.5em 0.5em 5em 0.5em;
	max-width: 400px;
	min-width: 200px;
	flex-shrink: 1;
	font-weight: bold;
	cursor: pointer;
	
} 
.pris {
	font-size: 1.5em;
}
.main-container > div > * {
	margin: 0.5em;
}
.villkor {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: nowrap;
	
}
.social {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	grid-column: 2 / 4;
	flex-wrap: nowrap;
}
.help {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	flex-shrink: 1;
	
}
.ikoner{
	justify-content: space-between;
	align-items: center;
	font-size: 28px;
	cursor: pointer;
	
}
.ikoner > i {
	padding: 0.5em;
}
.villkor > p {
	font-size: 10px;
	margin: 0.5em;
}
.help > p {
	font-size: 10px;
	margin: 0.5em;
}
.villkor > h3 {
	font-size: 1em;
}
.help > h3 {
	font-size: 1em;
}
.social > p {
	font-size: 12px;
}
h3 {
	margin-bottom: 0.5em;
}
@media (min-width: 650px){
	.main-container{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		flex-shrink: 1;
		margin: 1em;
	}
	footer{
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}
	h1{
		text-align: center;
	}
	.social > p {
		padding-bottom: 3em;
	}
	.box {
		max-width: 380px;
	}
	.feelwell{
		height: 6em;
	    margin: 1em;
	}
	.search{
		width: 13em;
	    height: 2.5em;
		cursor: text;
		
	}
	.villkor > p{
		font-size: 0.8em;

	}
	.help > p{
		font-size: 0.8em;

	}
	.social{
	    font-size: 0.8em;
	}
	
}