*{
	font-family: 'Radio Canada', sans-serif;
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
	min-width: 380px;
}
body {
	background-color: #F3F4FB;
}
header {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	justify-content: center;
	margin-right: 0;
}
.loggaochsearch {
	width: 90vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
ul {
	width: 90vw;
	list-style-type: none;
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 1em;
	flex-wrap: wrap;
}
<<<<<<< HEAD
.garanti {
	background-color: #234C9F;
	width: 90vw;
	height: 36px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
=======
.garanti { 
    background-color: #234C9F; 
    width: 90%; 
    height: 36px; 
    border-radius: 5px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
>>>>>>> Header
}
.feelwell {
	height: 4.5em;
	margin: 1em;
}
<<<<<<< HEAD
=======
.garanti > p { 
    text-align: center; 
	color: #F3F4FB;
}
>>>>>>> Header
.search {
	border: 1px solid grey;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 10em;
	height: 2em;
	margin-top: 2.5em;
	border-radius: 5px;
	padding-left: 1em;
}
.kat > ul{
	margin: 1em 0 1em 1em;
	font-weight: bold;
	text-align: center;
}
ul a{
	text-decoration: none;
	color: #414149;
}
li:last-child {
	font-weight: 500;
}
.ri-account-circle-line {
	font-weight: 400;
	font-size: 1.5em;
	text-align: center;
}
<<<<<<< HEAD
.garanti > p {
	color: #F3F4FB;
}
.ri-hand-heart-line {
	font-size: 1.5em;
	padding-right: 0.5em;
	color: #F3F4FB;
}
.konto{
	margin-bottom: 0.5em;
}
a > .konto {
	color: #234C9F;
}
@media (min-width: 650px){
	.feelwell{
		height: 6em;
	    margin: 1em;
	}
	.search{
		width: 13em;
	    height: 2.5em;
		
	}
   
=======
.ri-hand-heart-line { 
    font-size: 1.5em; 
    padding-right: 0.5em; 
    color: #F3F4FB; 
>>>>>>> Header
}